* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color: blueviolet;
    --fundal: rgb(218, 247, 246);
    --umbre: 10px 10px 10px rgba(165, 165, 221, 1);
}

.dark-theme {
    --color: rgb(218, 247, 246);
    --fundal: blueviolet;
    --umbre: 10px 10px 10px rgba(165, 165, 221, 1);
}

body {
    background-color: var(--fundal);
    font-family:Varela Round, sans-serif;
    display: flex;
    position: relative;
    transition: 300ms;
    justify-content: center;
}

#app-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    width: 100vw;
}

#switch {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    left: 20px;
    top: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: var(--fundal);
    transition: 300ms;
    cursor: pointer;
    transition: 300ms;
    overflow: hidden;
}

#switch > img {
    width: 80%;
    height: 80%;
    
}

#switch:hover{
    transform: scale(1.2);
}

#title {
    margin-bottom: 50px;
    color: var(--color);
    transition: 300ms;
    font-size: 3rem;
}

#insert {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    gap: 50px;
    
}

.input{
    width: 250px;
    position: relative;
}
.input input {
    font-family:Varela Round, sans-serif;
    font-size: 1rem;
    text-align: center;
    background-color: var(--fundal);
    transition: 300ms;
    position: relative;
    height: 50px;
    outline: none;
    caret-color: var(--color);
    width: 250px;
    box-shadow: var(--umbre);
    border: 2px solid var(--color);
    border-radius: 5px;
    color: var(--color);
}

label {
    position: absolute;
    z-index: 1;
    top: -10px;
    color: var(--color);
    background-color: var(--fundal);
    transition: 300ms;
    padding: 0px 5px;
    left: 20px;
    font-size: 0.9rem;
}

.btn {
    position: relative;
    font-size: 1rem;
    background-color: var(--fundal);
    font-family:Varela Round, sans-serif;
    top: 10px;
    height: 50px;
    width: 110px;
    border: 2px solid var(--color);
    border-radius: 5px;
    color: var(--color);
    box-shadow: var(--fundal);
    transition: 300ms;
}

.btn:hover {
    transform: scale(1.1);
}

.buttons {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}

table {
    position: relative;
    border: 2px solid var(--color);
    border-radius: 5px;
    box-shadow: var(--umbre);
    width: 700px;
    color: var(--color);
    transition: 300ms;
}

td, th {
    text-align: left;
    position: relative;
    left: 40px;
}

#counter{
    margin-bottom: 10px;
}

.table-wrapper {
    display: flex;
    flex-direction: column;
    opacity: 0;
    align-items: left;
    color: var(--color);
    transition: 300ms;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-6px); }
    50% { transform: translateX(6px); }
    75% { transform: translateX(-6px); }
}

.shake{
    animation: shake 300ms ease;
}

input::placeholder {
    color: rgb(201, 169, 231);
}

.seen {
    opacity: 1;
}