* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(218, 247, 246);
    position: relative;
}

#app-wrapper {
    position: relative;
    margin: 50px;
    height: 50vh;
    display: flex;
    justify-content: center;
}

#insert {
    position: relative;
}

.input input {
    background-color: rgb(218, 247, 246);
}

#btn {
    background-color: rgb(218, 247, 246);
}

#table {
    position: relative;
}
table thead {
    position: absolute;
}




